*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: F37 Ginger;

}
.nav{
    width: 100%;
    background-color: #f5ebff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ad-box{
    padding: 5px;
    width: 100%;
    background-color: #14433d;
    color: white;
    text-align: center;
    font-size: small;
    font-weight: 300;
}
.nav h1{
    /* font-family: gilroy; */
    font-size: 50px;
    padding-left: 15px;
    letter-spacing: -5px;
}
.firstbtn{
    margin-right: 10px;
    padding: 10px;
    background-color: #ff3801;
    color: white;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.page1{
    padding-top: 30px;
    /* height: 100vh; */
    width: 100%;
    background: linear-gradient(270deg, #D8B9DA 0%, #E5EAB8 100%);
    display: flex;
}
/* .page1 .star img{
    height: 0px;
    width: 80px;
}
.page1 .star p{
    /* padding-bottom: 70px; */

.page1 img{
    width: 600px;
    height: 600px;
}
.page1 p i{
    font-size: 15px;
}
.page1 p{
    /* font-family: "gilroy"; */
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: end;
    color:#4B5563;
    padding-right: 120px;
    /* padding-left: 50px; */
}
.text1{
    padding-left: 200px;
    padding-top: 50px;
}
.text1 h1{
    /* font-family: "gilroy"; */
    font-size: 60px;
    font-weight: 600;
    padding-right: 120px;
    color: #14433D;
    margin-bottom: 10px;
    text-align: end;
}
.text1 h3{
    text-align: end;
    padding-right: 100px;
    font-weight: 400;
    color: #14433D;
}
.btn2{
    margin-top: 20px;
    margin-left: 350px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.text1 h5{
    text-align: end;
    padding-top: 15px;
    padding-right: 135px;
}
.container{
    margin-top: 20px;
    height: 150px;
    width: 600px;
    /* background-color: #E5EAB8; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 25px;
}
#one img{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left : 20px;
}
#one p{
    padding-top: 25px;
    padding-left: 25px;
}
#two img{
    height: 60px;
    width: 60px;
    margin-top: 18px;
    margin-left : 18px;

}
#two p{
    padding-top: 25px;
    /* padding-left: 20px; */
    /* text-align: center; */
}
#three img{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left : 20px;
}
#three p{
    padding-top: 25px;
    padding-left: 25px;
}
#four img{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left : 20px;
}
#four p{
    padding-top: 25px;
    padding-left: 18px;
}
.marquee-slider{
    padding-top: 20px;
    background-color: #B369F9;
    color: white;
    font-size: 30px;
}
.page2{
    /* height: 100vh; */
    width: 100%;
    background: #F1FAD9;

}
.head{
    padding-top: 35px;
    text-align: center;
}
.head p{
    padding-bottom: 15px;
    color: #14433DB2;
}
.main{
    position: relative;
}
.main img{
    padding-top: 60px;
    padding-left: 50px;
}
.main h1{
    padding-top: 10px;
    padding-left: 55px;
    color: #14433D;
}
.main h4{
    padding-top: 10px;
    padding-left: 55px;
    color: #2E7D73;
    font-weight: 300;
}
.img-1{
    height: 500px;
    width: 480px;
    padding-bottom: 50px;
}
.star1 img{
    position: absolute;
}
.star1 h5{
    padding-top: 100px;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 5.5%;
}
.pill{
    left: 20%;
}
.main-left{
    float: right;
    position: absolute;
    left: 54%;
    bottom: 1%;
}
.btn3{
    margin-top: 40px;
    margin-left: 650px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#tbtn3{
    text-align: center;
    padding-top: 15px;
    margin: 0px;

}
.page3{
    padding-top: 50px;
    /* height: 100vh; */
    /* width: 100%; */
    background: #F1FAD9;

}
.page3 h1,p{
    text-align: center;
}
h2 {
    margin-top: 100px;

	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.btn4{
    margin-top: 40px;
    margin-left: 650px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#tbtn4{
    text-align: center;
    padding-top: 15px;
    margin: 0;
    /* padding-bottom: 5px; */
}
.page5{
    padding-top: 25px;
    /* height: 100vh; */
    width: 100%;
    background: linear-gradient(180deg, #F1FAD9 79.69%, #ECD9FF 100%);

}
.ltext h1{
    padding-left: 50px;
    font-weight: 600;
}
.btext{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ltext span{
    margin-left: 50px;
    text-align: left;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    background-color:#14433D;
    color: white;
}
.rtext h6{
    width: 300px;
}
.slider .carousel-item{
   padding-left: 350px;
}
.page6{
    /* height: 100vh; */
    width: 100%;
    background: #ECD9FF;

}
.page6 h1{
    padding-top: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.page6 img{
    padding-left: 250px;
    /* height: 550px; */
}
.btn6{
    margin-top: 40px;
    margin-left: 650px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#tbtn6{
    text-align: center;
    padding-top: 15px;
    margin: 0;
}
.page7{
    width: 100%;
    background: linear-gradient(180deg, #ECD9FF 0%, #F7F5F1 12.5%);
}
.page7 h1{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.card1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page8{
    width: 100%;
    background-color: #F1FAD9;
    display: flex;
}
.left8{
    padding-top: 50px;
    padding-left: 50px;
}
.right8{
    padding-top: 50px;
    padding-left: 150px;
    font-weight: 800;
    font-size: 60px;
    color: #14433D;
}
.right8 p{
    font-size: 16px;
    font-weight: 400;
    color: #14433D;
    text-align: start;
    padding-bottom: 10px;
}
.right8 h3{
    font-size: 20px;
    font-weight: 600;
    text-align: start;
}
.right8 img{
    padding-top: 25px;
}
.right8 span{
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
}
.price{
    width: 100%;
    background-color: #f5f3f3;
    color: #000;
    border-radius: 25px;
}
.part1{
    border: 2px solid;
    border-radius: 25px;
    width: 100%;
}
.part1 p{
    text-align: end;
    padding-right: 25px;
}
.part1 h4{
    padding-top:20px;
    text-align: start;
    padding-left: 20px;
}
.part1 h5{
    /* padding-top: 20px; */
    padding-left: 20px;
}
#pbtn{
    margin-left: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    background-color: #000;
    color: white;
}
h6{
    text-align: center;
    padding-top: 25px;
    color: #8A9377;
}
.pbox{
    position: relative;
}
.rectbox{

    width: 90%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rectbox h4{
    padding-top: 25px;
    font-weight: 900;
    padding-left: 25px;
}
.rectbox p{
    padding-top: 25px;
    padding-right: 25px;
}
.page9{
    width: 100%;
    background-color: #F1FAD9;
    
}
.top9 img{
    padding-top: 80px;
    padding-left: 590px;
}
.top9 h1{
    text-align: center;
    padding-top: 25px;
    color: #14433D;
}
.top9{
    font-size: 20px;
    font-weight: 400;
    color: #2E7D73;
}
.btn9{
    margin-top: 40px;
    margin-left: 650px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#tbtn9{
    text-align: center;
    padding-top: 15px;
    margin: 0;
}
.page10{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #F1FAD9 0%, #ECD9FF 100%);
}
.page10 h1{
    padding-top: 50px;
    text-align: center;
    font-weight: 600;
}
.accordion-item{
    background-color: #fff;
}
.accordion h1{
    font-size: 15px;
}
  a{
    color: #000;
  }
  
  a:hover{
    color: orange;
    transition: 0.2s ease-out;
  }
  
  .btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
    margin-bottom: 1em;
  }
  
  .btn:hover{
    background-color: #000;
    color: #fff;
  }
  
  /*-------------Accordian-----------------*/
  
  h1 {
    text-align: center;
    font-size: 25px;
  }
  
  .accordion {
    max-width: 50vw;
    margin: 0 auto;
  }
  
  .accordion-item {
    border-top: 1px solid #c5c5c5;
    color: #333;
  }
  
  .accordion-item h2 {
    padding: 1em;
    margin: 0;
    cursor: pointer;
  }
  
  .accordion-content {
    max-height: 0; /* Set a default max-height, but don't display it */
    overflow: hidden; /* Hide the content */
    transition: max-height 0.4s ease-out; /* Add a transition effect when sliding down (and up) the content */
    padding: 0 1em;
  }
  
  .accordion-content p {
    padding: 1em 0;
    margin: 0;
  }
  
  /* Add this class to .accordion-content when the accordion item is active/open */
  .accordion-content.active {
    max-height: auto; /* Adjust as needed */
  }
  
  /*adding the + and - signs*/
  .accordion-item h2 {
    position: relative;
    padding-right: 30px; /* Adjust as needed */
  }
  
  .accordion-item h2::before {
    content: "+";
    position: absolute;
    right: 10px; /* Adjust as needed */
  }
  
  .accordion-item.active h2::before {
    content: "-";
  }
  
  /* For mobile screens */
  @media (max-width: 767px) {
    .accordion {
      max-width: 100vw;
      margin: 0 auto;
    }
  }
  .btn10{
    margin-top: 40px;
    margin-left: 650px;
    padding: 20px;
    background: #FF6459;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#tbtn10{
    text-align: center;
    padding-top: 15px;
    margin: 0;
}
.footer{
    height: 20vh;
    width: 100%;
    background-color: #ECDAFF;
}
.footer h1{
    /* font-family: gilroy; */
    padding-top: 50px;
    font-size: 50px;
    font-weight: 600;
    padding-left: 15px;
    letter-spacing: -5px;
}